body {
background-color: black;
margin: 0;
font-family: Arial, sans-serif;
}

h1 {
text-align: center;
text-shadow: 2px 2px 5px black;
}

h3 {
text-align: center;
color: white;
text-shadow: 2px 2px 4px black;
}

.navegacao {
position: fixed;
top: 0;
width: 100%;
background-color: black;
padding: 10px;
text-align: center;
z-index: 999;
}

.navegacao a {
margin: 15px;
text-decoration: none;
font-weight: bold;
}

section {
background-size: cover;
background-position: center;
padding: 60px 20px;
position: relative;
color: white;
}

.Caixa {
padding: 30px;
max-width: 1000px;
margin: auto;
border-radius: 12px;
}

.TheArk {
background-image: url('FotosArk/TheArk.webp');
height: 487px;
}

.TheIsland {
background-image: url('FotosArk/Ark.png');
height: 487px;
}

.Scorched {
background-image: url('FotosArk/Scorched.png');
height: 487px;
}

.Aberration {
background-image: url('FotosArk/Aberration.png');
height: 487px;
}

.Extinction {
background-image: url('FotosArk/Extinction.png');
height: 487px;
}

.Gen1 {
background-image: url('FotosArk/Gen1.png');
height: 487px;
}

.Gen2 {
background-image: url('FotosArk/Gen2.png');
height: 487px;
}

button {
position: fixed;
bottom: 10px;
right: 10px;
background-color: #0077ff;
color: white;
border: none;
padding: 12px 20px;
font-size: 16px;
border-radius: 8px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
cursor: pointer;
}
