.Ark {
background-image: url('Ark.png');
}

.Scorched {
background-image: url('Scorched.png');
}

.Aberration {
background-image: url('Aberration.png');
} 

.Extinction {
background-image: url('Extinction.png');
}

.LostColony {
background-image: url('LostColony.png');
}

.Gen1 {
background-image: url('Gen1.png');
}

.Gen2 {
background-image: url('Gen2.png');
}